{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
<style>
    .modal-xl-custom {
        max-width: 90% !important;
        width: 90% !important;
    }
</style>
{% endblock head %}

{% block header_content %}
    <a class="navbar-brand mr-4" href="/">AICount App</a>
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
    </div>
{% endblock header_content %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar content (unchanged) -->
        <nav class="col-md-2 d-md-block bg-light sidebar">
            <!-- ... (sidebar content remains the same) ... -->
        </nav>

        <main role="main" class="col-md-10 ml-sm-auto px-4">
            <!-- ... (previous main content remains the same) ... -->

            <!-- Demo Buttons for Modal -->
            <div class="mb-3">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#demoModal" data-size="modal-sm">
                    Small Modal
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#demoModal" data-size="modal-lg">
                    Large Modal
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#demoModal" data-size="modal-xl">
                    Extra Large Modal
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#demoModal" data-size="modal-xl-custom">
                    Custom Size Modal
                </button>
            </div>

            <!-- ... (rest of the main content remains the same) ... -->
        </main>
    </div>
</div>

<!-- Demo Modal -->
<div class="modal fade" id="demoModal" tabindex="-1" role="dialog" aria-labelledby="demoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="demoModalLabel">Demo Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This is a demo modal. You can add any content here, such as forms, information, or interactive elements.</p>
                <p>The size of this modal can be changed by clicking different buttons.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function() {
        console.log('Document ready');
        
        $('#demoModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var size = button.data('size');
            var modal = $(this);
            modal.find('.modal-dialog').removeClass('modal-sm modal-lg modal-xl modal-xl-custom').addClass(size);
            console.log('Modal is about to be shown with size: ' + size);
        });
    });
</script>
{% endblock scripts %}